.correct-key {
    background-color: green!important;
}

.wrong-key {
    background-color: red;
}

.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}

.btn-primary.raised:active, .btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

.valve-buttons {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    margin: 10px;
    border-radius: 45px;
    font-size: 1.25rem;
    text-align: center;
}